<html>
  <body>
    <div class="header-title">      <span class="section-title">Seminario 3 - Sistemas Distribuidos</span>
      <span class="chapter-title">Búsqueda</span>
    </div>
  </div>
</header>
    

    <div class="search">
      <div class="group"> 
      <form action="/search" method="POST">
          <input type="text" name="text">
            <input type="submit" name="my-form" class="button buttonBlue" value="search">
        </form>
    </div>
  </div>

      </div>
    </div>
  </body>
</html>